<style>
  td { vertical-align: middle; }
</style>
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Account</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Account</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <a href="/admin/users/add">
                  <button class="btn btn-primary mb-3">Add Account</button>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6"><div
                id="dataTable_filter"
                class="dataTables_filter"
              >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table
                class="table table-bordered dataTable"
                id="dataTable"
                width="100%"
                cellspacing="0"
                role="grid"
                aria-describedby="dataTable_info"
                style="width: 100%;"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting sorting_asc"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      style="width: 210px;"
                    >Full Name</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 42.2px;"
                    >Username</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 72.2px;"
                    >Email</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 60.2px;"
                    >Phone</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 130.2px;"
                    >Create At</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 70px;"
                    >Role</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 30.2px;"
                    >Action</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each users}}
                    <tr class="">
                      <td class="sorting_1">{{this.fullname}}</td>
                      <td>{{this.username}}</td>
                      <td>{{this.email}}</td>
                      <td>{{this.phone}} </td>
                      <td>{{this.createdAt}}</td>
                      <td>{{this.role}}</td>
                      <td
                        class="d-flex flex-nowrap align-self-center justify-content-center"
                        style="border: 0; !important;width: fit-content;"
                      ><a href="/admin/users/edit/{{this._id}}"><button
                            class="btn btn-warning"
                          >Edit</button></a>
                        |
                        <button
                          type="submit"
                          class="btn btn-danger"
                          data-toggle="modal"
                          data-target="#deleteUser"
                        >Delete</button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div><div class="row">
            <div class="col-sm-12 col-md-5"><div
                class="dataTables_info"
                id="dataTable_info"
                role="status"
                aria-live="polite"
              >Showing 1 to 10 of 57 entries</div>
            </div><div class="col-sm-12 col-md-7"><div
                class="dataTables_paginate paging_simple_numbers"
                id="dataTable_paginate"
              ><ul class="pagination">
                  <li
                    class="paginate_button page-item previous disabled"
                    id="dataTable_previous"
                  ><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="0"
                      tabindex="0"
                      class="page-link"
                    >Previous</a>
                  </li>
                  <li class="paginate_button page-item active"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="1"
                      tabindex="0"
                      class="page-link"
                    >1</a>
                  </li><li class="paginate_button page-item"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="2"
                      tabindex="0"
                      class="page-link"
                    >2</a>
                  </li>
                  <li class="paginate_button page-item"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="3"
                      tabindex="0"
                      class="page-link"
                    >3</a>
                  </li>
                  <li class="paginate_button page-item"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="4"
                      tabindex="0"
                      class="page-link"
                    >4</a>
                  </li>
                  <li class="paginate_button page-item"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="5"
                      tabindex="0"
                      class="page-link"
                    >5</a>
                  </li>
                  <li class="paginate_button page-item"><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="6"
                      tabindex="0"
                      class="page-link"
                    >6</a>
                  </li>
                  <li
                    class="paginate_button page-item next"
                    id="dataTable_next"
                  ><a
                      href="#"
                      aria-controls="dataTable"
                      data-dt-idx="7"
                      tabindex="0"
                      class="page-link"
                    >Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div
  class="modal fade"
  id="deleteUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm to delete this
          user ?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
        >Cancel</button>
        <form action="/admin/users/delete/{{this._id}}" method="post">
          <button type="submit" class="btn btn-danger">Confirm</button></form>
      </div>
    </div>
  </div>
</div>