<style>
  td { vertical-align: middle; } .avatar-img { width: 40px; height: 40px; object-fit: cover; border-radius: 50%; margin-right:
  10px; }
</style>

<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">User List</h1>
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if success}}
      <div class="alert alert-success">{{success}}</div>
    {{/if}}
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Users</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length">
                <a href="/admin/users/add">
                  <button class="btn btn-primary mb-3">
                    Add User
                  </button>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table
                class="table table-bordered dataTable"
                id="dataTable"
                width="100%"
                cellspacing="0"
                role="grid"
                style="width: 100%;"
              >
                <thead>
                  <tr role="row">
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Create At</th>
                    <th>Status</th>
                    <th style="width: 160px;">Action</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each user}}
                    <tr class="odd">
                      <td>
                        {{this.fullname}}
                      </td>
                      <td>{{this.email}}</td>
                      <td>{{this.phone}}</td>
                      <td><span class="badge">
                          {{#if this.isAdmin}}
                            Admin
                          {{else}}
                            User
                          {{/if}}</span></td>
                      <td>{{formatDate this.createdAt}}</td>
                      <td><span this="badge badge-success">{{this.status}}</span></td>
                      <td class="d-flex flex-row">
                        <a href="/admin/users/edit/{{this._id}}" class="btn btn-warning" style="height: fit-content;">Edit</a>
                        |
                        <form
                          style="width: fit-content;"
                          action="/admin/users/delete/{{this._id}}?_method=DELETE"
                          method="post"
                        ><button
                            type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Bạn có chắc muốn xóa?')"
                          >Delete</button></form>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>