<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add New Product</h1>
    <a href="/admin/product" class="btn btn-secondary btn-sm">
      <i class="fas fa-arrow-left"></i>
      Back to product List
    </a>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Product Information</h6>
        </div>
        <div class="card-body">
          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          <form
            method="POST"
            action="/admin/product/add"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Product Name
                    <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter product name"
                    value="{{oldData.name}}"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="category_id">Category/Brand
                    <span class="text-danger">*</span></label>
                  <select
                    class="form-control"
                    id="category_id"
                    name="category_id"
                  >
                  {{#each categories}}
                   <option value="{{this._id}}" {{#if this.isSelected}}selected{{/if}}>{{this.name}}</option>
                  {{/each}}
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="price">Price ($)
                    <span class="text-danger">*</span></label>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    placeholder="Enter price"
                    min="0"
                    value="{{oldData.price}}"
                  />
                </div>
              </div>
            </div>
            
            <div class="row" >
              <div class="col-md-5">
              <label for="size">Size
                    <span class="text-danger">*</span></label>
               {{#unless oldData.detail}} <input
                  type="number"
                  class="form-control"
                  name="size[]"
                  placeholder="Size (e.g., 38, 39, 40)"
                />
                {{/unless}}
              </div>
              <div class="col-md-5">
                <label for="size">Stock
                    <span class="text-danger">*</span></label>
                {{#unless oldData.detail}} <input
                  type="number"
                  class="form-control"
                  name="stock[]"
                  placeholder="Stock"
                  min="0"
                />
                {{/unless}}
              </div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-danger btn-remove-variant"
                  style="display:none;"
                >&times;</button>
              </div>
            </div>
            <div id="variant-section" >
              {{#each oldData.detail}}
              <div class="row my-2 variant-item">
                <div class="col-md-5">
                  <input
                    type="number"
                    class="form-control"
                    name="size[]"
                    placeholder="Size"
                    value="{{this.size}}"
                  />
                </div>
                <div class="col-md-5">
                  <input
                    type="number"
                    class="form-control"
                    name="stock[]"
                    placeholder="Stock"
                    min="0"
                    value="{{this.stock}}"
                  />
                </div>
                <div class="col-md-2">
                  <button
                    type="button"
                    class="btn btn-danger btn-remove-variant"
                    onclick="this.closest('.variant-item').remove()"
                  >&times;</button>
                </div>
              </div>
              {{/each}}
            </div> 
            <div class="row my-1">
              <div class="col-md-12 ">
                <button
                  type="button"
                  class="btn btn-success btn-sm mt-2"
                  id="btn-add-variant"
                >
                  <i class="fas fa-plus"></i>
                  Add more size
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Product Description</label>
                  <textarea
                    class="form-control"
                    name="description"
                    id="description"
                  >{{oldData.description}}</textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image">Product Image</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="image"
                    name="image"
                    accept="image/*"
                  />
                  <small class="form-text text-muted">Upload product image (JPG,
                    PNG, AVIF).</small>
                </div>
              </div>
            </div>

            <hr />

            <div class="form-group mb-0">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i>
                Add Product
              </button>
              <a href="/admin/product" class="btn btn-secondary">
                <i class="fas fa-times"></i>
                Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('btn-add-variant').addEventListener('click', function() {
        const container = document.getElementById('variant-section');
        const newItem = document.createElement('div');
       
        newItem.innerHTML = `
        <div class="row my-2 variant-item">
            <div class="col-md-5">
                <input type="number" class="form-control" name="size[]" placeholder="Size" >
            </div>
            <div class="col-md-5">
                <input type="number" class="form-control" name="stock[]" placeholder="Stock" min="0" >
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-remove-variant" onclick="this.closest('.variant-item').remove()">&times;</button>
            </div>
            </div>
        `;
        container.appendChild(newItem);
    });
</script>