<!-- Carousel Start -->
<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div
        id="header-carousel"
        class="carousel slide carousel-fade mb-30 mb-lg-0"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#header-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div
            class="carousel-item position-relative active"
            style="height: 430px;"
          >
            <img
              class="position-absolute w-100 h-100"
              src="images/AIRJORDAN1LOWSE.avif"
              style="
              object-fit: cover;
              object-position: 0% 60%;  
              "
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 700px;">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                >Air Jordan</h1>
                <p
                  class="mx-md-5 px-5 animate__animated animate__bounceIn"
                >The low-cut classic returns in an iconic colourway.</p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="#"
                >Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img
              class="position-absolute w-100 h-100"
              src="images/converse.webp"
              style="object-fit: cover;
              object-position: 0% 70%"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 700px;">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                >Converse</h1>
                <p
                  class="mx-md-5 px-5 animate__animated animate__bounceIn"
                >Converse knows what it takes to reach icon status. Timeless style, relentless innovation, and—you. That's why the Star Player 76 in full-grain leather was made for you and your lifestyle. The dialed-in, court shoe design of the Star Player 76 is entirely Converse, but still leaves room for your style to play.</p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="#"
                >Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img
              class="position-absolute w-100 h-100"
              src="images/banner5.avif"
              style="object-fit: cover;"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 700px;">
                <h1
                  class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                >ShoeX</h1>
                <p
                  class="mx-md-5 px-5 animate__animated animate__bounceIn"
                >Special shop with all brand.</p>
                <a
                  class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="#"
                >Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="/images/offer1.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="/shop" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="/images/offer2.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="" class="btn btn-primary ">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div
        class="d-flex align-items-center bg-light mb-4"
        style="padding: 30px;"
      >
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div
        class="d-flex align-items-center bg-light mb-4"
        style="padding: 30px;"
      >
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div
        class="d-flex align-items-center bg-light mb-4"
        style="padding: 30px;"
      >
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div
        class="d-flex align-items-center bg-light mb-4"
        style="padding: 30px;"
      >
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
<div class="container-fluid pt-5">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
      class="bg-secondary pr-3"
    >Categories</span></h2>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logoadidas.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Adidas</h6>
            <small class="text-body">24 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logobalance.jpg" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>New Balance</h6>
            <small class="text-body">10 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logoconverse.jpg" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Converse</h6>
            <small class="text-body">19 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logofila.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Fila</h6>
            <small class="text-body">20 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logohitech.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Hi-Tech</h6>
            <small class="text-body">13 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logojordan.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Jordan</h6>
            <small class="text-body">16 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logonike.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Nike</h6>
            <small class="text-body">11 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logopuma.png" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Puma</h6>
            <small class="text-body">14 Products</small>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <a class="text-decoration-none" href="">
        <div class="cat-item img-zoom d-flex align-items-center mb-4">
          <div class="overflow-hidden" style="width: 100px; height: 100px;">
            <img class="img-fluid" src="img/logovans.jpg" alt="" />
          </div>
          <div class="flex-fill pl-3">
            <h6>Vans</h6>
            <small class="text-body">22 Products</small>
          </div>
        </div>
      </a>
    </div>
    </div>
  </div>
</div>
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
      class="bg-secondary pr-3"
    >Featured Products</span></h2>
  <div class="row px-xl-5">
    {{#each productList}}
   <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="{{this.img}}" alt="" />
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-shopping-cart"
              ></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i
                class="far fa-heart"
              ></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-sync-alt"
              ></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i
                class="fa fa-search"
              ></i></a>
          </div>
        </div>
        <div class="card-item text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">{{this.name}}</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>${{this.price}}</h5><h6 class="text-muted ml-2"><del>${{this.sale}}</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            {{#times this.rate}}
            <small class="fa fa-star text-primary mr-1"></small>
            {{/times}}
            <small>({{this.reviews}})</small>
          </div>
        </div>
      </div>
      </div>
     {{/each}}
  </div>
</div>
<!-- Products End -->

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
  <div class="row px-xl-5">
    <div class="col-md-6">
      <div class="product-offer mb-30" style="height: 300px;">
        <img class="img-fluid" src="/images/offer1.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="/shop" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-offer mb-30" style="height: 300px;">
        <img class="img-fluid" src="/images/offer2.jpg" alt="" />
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Save 20%</h6>
          <h3 class="text-white mb-3">Special Offer</h3>
          <a href="/shop" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->



<!-- Vendor Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col">
      <div class="owl-carousel vendor-carousel">
        <div class="bg-light p-4">
          <img src="img/logoadidas.png" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logobalance.jpg" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logoconverse.jpg" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logofila.png" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logohitech.png" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logonike.png" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logopuma.png" alt="" />
        </div>
        <div class="bg-light p-4">
          <img src="img/logovans.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Vendor End -->