<style>
  td { vertical-align: middle; }
</style>
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Product</h1>
  {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="alert alert-success">{{success}}</div>
  {{/if}}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length">
                <a href="/admin/product/add">
                  <button class="btn btn-primary mb-3">Add Product</button>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table
                class="table table-bordered dataTable"
                id="dataTable"
                width="100%"
                cellspacing="0"
                role="grid"
                aria-describedby="dataTable_info"
                style="width: 100%;"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting sorting_asc"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      aria-sort="ascending"
                      style="width: 300.2px;"
                    >Name</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 90.2px;"
                    >Brand</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 220.2px;"
                    >Size</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 72.2px;"
                    >Create At</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 119.2px;"
                    >Amount</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 42.2px;"
                    >Show</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="dataTable"
                      rowspan="1"
                      colspan="1"
                      style="width: 150.2px;"
                    >Action</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each products}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>{{this.categoryName}}</td>
                      <td>
                        {{#each this.detail}}
                          <div class="badge badge-primary m-1">Size:
                            {{this.size}}
                            | Stock:
                            {{this.stock}}</div>
                        {{/each}}
                      </td>
                      <td>{{formatDate this.createdAt}}</td>
                      <td>{{formatPrice this.price}}</td>
                      <td>
                        <form action="/admin/product/updateStatus/{{this._id}}" method="POST" style="display: inline-block;">
                              <label class="switch">
                                  <input 
                                      type="checkbox" 
                                      name="status" 
                                      value="true"
                                      onchange="this.form.submit()"
                                      {{#if this.isShow}}checked{{/if}}
                                  >
                                  <span class="slider round"></span>
                              </label>
                          </form>
                      </td>
                      <td class="d-flex flex-row"><a
                          class="btn btn-warning"
                          style="height: fit-content;"
                          href="/admin/product/edit/{{this._id}}"
                        >Edit</a>
                        |
                        <form
                          style="width: fit-content;"
                          action="/admin/product/delete/{{this._id}}?_method=DELETE"
                          method="post"
                        ><button
                            type="submit"
                            class="btn btn-danger"
                            onclick="return confirm('Bạn có chắc muốn xóa?')"
                          >Delete</button></form>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>